.container {
    max-width: 40vw;
    margin-left: var(--body-padding);
}

.container button {
    margin-bottom: 2.5rem;
    background: green;
    border: none;
    padding: 1rem 3rem;
    border-radius: .5rem;
    font-weight: 700;
    cursor: pointer;
}

.container section {
    display: flex;
    flex-flow: column nowrap;
    gap: 4rem;
    border: 1px solid #777;
    border-radius: .5rem;
    padding: 1rem;
}