/* Root level variables */

:root {
    --background-color: hsl(195, 6%, 13%);
    --primary-text-color: hsl(0, 100%, 99%);
    --primary-color: hsl(204, 61%, 50%);
    --secondary-color: hsl(313, 65%, 43%);
    --success-color: hsl(144, 95%, 44%);
    --fail-color: hsl(358, 100%, 55%);
    --body-padding: 2.5%;
}


/* Remove all margins and paddings, Remove blue highlight on mobile & Change the default font-family & color */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    font-weight: 100;
    font-style: normal;
    color: var(--primary-text-color);
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) rgba(0, 0, 0, .3);
}


/* Set font-size to 62.5% so 0.1rem = 1 px */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


/* Stretch to fill the entire page */

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: var(--background-color);
}

*::-webkit-scrollbar {
    width: .8em;
}

*::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .3);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}


/* Remove link styling */

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}


/* Classes */

.underline {
    text-decoration: underline;
}

.underline.hover {
    text-decoration: none;
    background-image: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    background-size: 0% 1px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    transition: background-size .3s ease;
}

.underline.hover.from-right {
    background-position: 100% 100%;
}

.underline.hover.from-middle {
    background-position: 50% 100%;
}

.underline.hover:hover {
    background-size: 100% 1px;
}

.overflow-dots {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.brand-title {
    font-size: 3rem;
}

.dropdown.collapsible {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    cursor: pointer;
    text-align: left;
}


/* .dropdown.active,
.dropdown.collapsible:hover {
    background-color: #555;
} */

.dropdown.collapsible::before {
    content: '\002B';
    order: 1;
    color: white;
    font-weight: bold;
}

.dropdown.active::before {
    content: "\2212";
}

.dropdown.content {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}