<form>
    <span class="inputs">
        <section class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name">
        </section>

        <section class="form-group">
            <label for="amount">Amount</label>
            <input type="number" id="amount">
        </section>
    </span>

    <span class="buttons">
        <button type="submit" class="add">Add</button>
        <button type="button" class="remove">Remove</button>
        <button type="button" class="clear">Clear</button>
    </span>
</form>